gunicorn==20.1.0
uvicorn==0.20.0
click>=7.0
h11>=0.8
fastapi==0.91.0
pydantic==1.10.4
starlette==0.24.0
numpy>=1.18.5
pytz>=2020.1
python-dateutil>=2.8.1
pandas==1.4.4
shap==0.41.0
slicer==0.0.7
scikit-learn==1.0.2
cloudpickle==2.0.0
tqdm>4.25.0
scipy==1.9.*
packaging>20.9
numba==0.55.*
pyparsing!=3.0.5,>=2.0.2
setuptools==63.4.1
llvmlite<0.39,>=0.38.0
python-dateutil>=2.8.1
pytz>=2020.1
threadpoolctl>=2.0.0
joblib>=0.11
six>=1.5
xgboost>=1.7.0
